<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>


<div class="container" style="padding-bottom: 2rem">

    <div style="margin: 1rem 0; display: flex">
        <button type="button" class="btn btn-outline-secondary" style="margin-right: .5rem" onclick="history.back()">돌아가기</button>

        <div th:if="${board.user.username.equals(#authentication.name)}">
            <button th:onclick="|location.href = '@{/board/{id}/updateForm(id=${board.id})}'|" class="btn btn-warning">수정</button>
            <button id="btn-delete" class="btn btn-danger">삭제</button>
        </div>

    </div>

    <div style="border: 2px solid lightgray; border-radius: 1rem; padding: 1rem; margin-bottom: 1rem">

        <div class="mb-3 mt-3" style="margin-bottom: 1rem;">
            <!--                <p>글번호: <span id="id" th:text="${board.id}"></span></p>-->
            <p style="margin-bottom: 0">작성자: <span th:text="${board.user.username}"></span></p>
            <p>작성일: <span th:text="${board.createDate}"></span></p>
            <h1 id="title" th:text="${board.title}">title</h1>
        </div>

        <hr>

        <div class="mb-3" style="margin-bottom: 1rem;">
            <div id="content">
                <p th:utext="${board.content}"></p>
            </div>
        </div>
    </div>

    <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body"><textarea id="reply-content" class="form-control-plaintext" placeholder="댓글을 작성하세요." rows="1"></textarea></div>
        <div class="card-footer">
            <button id="btn-reply-save" class="btn btn-primary">등록</button>
        </div>
    </div>

    <div class="card">
        <div class="card-header bg-secondary">댓글 리스트</div>
        <div th:if="${board.replies.size()} == 0" style="text-align: center; padding-top: 1rem; color: gray"><p>등록된 댓글이 존재하지 않습니다.</p></div>

        <ul th:unless=" ${board.replies.size()} == 0" id="reply--box" class="list-group">

            <li th:each="reply : ${board.replies}" id="reply--1" class="list-group-item d-flex justify-content-between" >
                <div th:text="${reply.content}">댓글 내용입니다.</div>
                <div class="d-flex">
                    <div th:text="${reply.user.username}" style="margin-right: .5rem; font: italic 15px Arial">작성자: username</div>
                    <button th:if="${reply.user.username.equals(#authentication.name)}" class="badge bg-danger">삭제</button>
                </div>
            </li>

        </ul>

    </div>

</div>


<script type="text/javascript" th:inline="javascript">
    const boardId = $.parseJSON('[[ ${board.id} ]]');

    // console.log('[[ ${#authentication.name} ]]')
    // console.log('[[ ${board.user.username} ]]')
</script>

<script src="/js/board.js"></script>

<!-- --------------------- footer --------------------- -->
<div th:replace="/fragments/footer :: footerFragment"></div>
</body>
</html>