<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>


<div class="container">

        <form action="/auth/loginProc" method="post">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">UserName:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter uesrname" name="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>

            <button id="btn-login" class="btn btn-primary">로그인</button>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=2937b7fab5557493b86a57c07067c2a8&redirect_uri=http://localhost:8000/auth/kakao/callback&response_type=code">
                <img height="38px" src="/image/kakao_login_medium_narrow.png" alt="">
            </a>

        </form>

<!--        Spring Security 사용 이전의 로그인 버튼-->
<!--        <button id="btn-login" class="btn btn-primary">로그인</button>-->

</div>


<!-- Spring Security 사용 이전의 로그인을 위한 통신 설정 javascript-->
<!--<script src="/js/user.js"></script>-->

<!-- --------------------- footer --------------------- -->
<div th:replace="/fragments/footer :: footerFragment"></div>
</body>
</html>
