<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<!--<div>-->
<!--    &lt;!&ndash;ROLE_USER 권한을 갖는다면 이 글이 보임&ndash;&gt;-->
<!--    <h1 sec:authorize="hasRole('ADMIN')">Has admin Role</h1>-->

<!--    &lt;!&ndash;ROLE_ADMIN 권한을 갖는다면 이 글이 보임&ndash;&gt;-->
<!--    <h1 sec:authorize="hasRole('USER')">Has user Role</h1>-->

<!--    <div sec:authorize="isAuthenticated()">-->
<!--        Only Authenticated user can see this Text-->
<!--    </div>-->

<!--    &lt;!&ndash;인증시 사용된 객체에 대한 정보&ndash;&gt;-->
<!--    <b>Authenticated DTO:</b>-->
<!--    <div sec:authentication="principal"></div>-->

<!--    &lt;!&ndash;인증시 사용된 객체의 Username (ID)&ndash;&gt;-->
<!--    <b>Authenticated username:</b>-->
<!--    <div sec:authentication="name"></div>-->

<!--    &lt;!&ndash;객체의 권한&ndash;&gt;-->
<!--    <b>Authenticated user role:</b>-->
<!--    <div sec:authentication="principal.authorities"></div>-->
<!--</div>-->

<th:block th:fragment="headerFragment">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Hyunsb</a>

            </div>

            <div class="collapse navbar-collapse" id="myNavbar">

                <!-- implementation 'org.thymeleaf.extras:thymeleaf-extras-springsecurity6'에선 안먹힘 왜지-->
                <div sec:authorize-expr="isAuthenticated()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/board/myPost"><span class="glyphicon glyphicon-edit"></span> MyPost</a></li>
                        <li><a href="/board/saveForm"><span class="glyphicon glyphicon-edit"></span> 글쓰기</a></li>
                        <li><a href="/user/updateForm"><span class="glyphicon glyphicon-user"></span> 회원정보</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
                    </ul>
                </div>

                <div sec:authorize-expr="!isAuthenticated()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/auth/joinForm"><span class="glyphicon glyphicon-user"></span> 회원가입</a></li>
                        <li><a href="/auth/loginForm"><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
</th:block>

</html>