<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>

<body>

<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>

<div class="container">

    <!--  CARD  -->
    <div class="card" style="border: 1px solid lightgray; border-radius: .5rem; padding: 1rem; margin-bottom: 1rem">
        <div class="card-body">
            <h4 class="card-title">제목 적는 부분</h4>
            <a href="#" class="btn btn-primary">상세 보기</a>
        </div>
    </div>

    <div class="card" style="border: 1px solid lightgray; border-radius: .5rem; padding: 1rem; margin-bottom: 1rem">
        <div class="card-body">
            <h4 class="card-title">제목 적는 부분</h4>
            <a href="#" class="btn btn-primary">상세 보기</a>
        </div>
    </div>

    <div class="card" style="border: 1px solid lightgray; border-radius: .5rem; padding: 1rem; margin-bottom: 1rem">
        <div class="card-body">
            <h4 class="card-title">제목 적는 부분</h4>
            <a href="#" class="btn btn-primary">상세 보기</a>
        </div>
    </div>
</div>

<!-- --------------------- footer --------------------- -->
<div th:replace="/fragments/footer :: footerFragment"></div>

</body>
</html>
